name: Python CI

on:
  push:
      branches: [main]

jobs:
   build-test:
    runs-on: ubuntu-latest


    steps:
     - name: checkout code
       uses: actions/checkout@v4

     - name: setting up python for my app.python
       uses: actions/setup-python@v5
       with:
           python-version: "3.10"
     - name: install dependencies
       run: |
         python -m pip install --upgrade pip
         pip install pytest
     - name: Run the tests
       run: pytest -v
     - name: Packages application
       run: |
          mkdir build
          cp app.py build/
          echo "build complete!"
     - name: upload artifact
       uses: actions/upload-artifact@v5
       with:
         name: python-app
         path: build/           